@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

.news h1, .about__txt h1, .works__wrap h1 {
  width: 100px;
  display: inline;
  font-size: 2rem;
  border-bottom: 4px #093942 solid;
}

.news__item a, .about__txt a {
  color: #093942;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  text-align: right;
  padding-right: 15px;
  text-decoration: none;
}

.news__item a:hover, .about__txt a:hover {
  color: darkorange;
}

@media (max-width: 859px) {
  body {
    overflow-x: hidden;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  background-image: url(../img/header/2.jpg);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 859px) {
  header {
    background-position: right;
  }
}

header .title {
  color: #f5f5f5;
  font-size: 1.6rem;
  padding-bottom: 300px;
  padding-left: 200px;
}

.custom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 69px;
}

.custom-shape .shape-fill {
  fill: #FFFFFF;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.main-nav__logo {
  margin: 10px 0 0 30px;
}

.main-nav__logo img {
  width: 100px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .main-nav__logo img {
    width: 70px;
  }
}

.main-nav__list {
  padding-top: 12px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list li {
  margin: 0 20px;
  letter-spacing: 2px;
}

.main-nav__list li a {
  color: #f5f5f5;
  -webkit-transition: 0.3;
  transition: 0.3;
  position: relative;
  padding: 5px 5px;
  text-decoration: none;
}

.main-nav__list li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #093942;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 859px) {
  .main-nav__list li a::before {
    background-color: #f5f5f5;
  }
}

.main-nav__list li a:hover::before {
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
}

@media (max-width: 859px) {
  .main-nav__list {
    background: #093942;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .main-nav__list.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.main-nav__item {
  padding: 20px;
  background-color: #093942;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main-nav__item:hover {
  background: darkorange;
}

.main-nav .mobile-nav {
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 3;
  display: none;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f5f5f5;
}

@media (max-width: 859px) {
  .main-nav .mobile-nav {
    display: block;
  }
}

.main-nav .mobile-nav .item {
  width: 32px;
  height: 2px;
  background-color: #093942;
  margin: 6px;
}

@media (max-width: 420px) {
  .main-nav .mobile-nav .item {
    width: 24px;
  }
}

.dark-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #093942;
  height: 60px;
}

.dark-nav__logo {
  margin: 10px 0 0 30px;
}

.dark-nav__logo img {
  width: 100px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .dark-nav__logo img {
    width: 70px;
    margin-bottom: 0;
  }
}

.dark-nav__list {
  margin-top: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-nav__list li {
  margin: 0 20px;
  letter-spacing: 2px;
}

.dark-nav__list li a {
  color: #f5f5f5;
  -webkit-transition: 0.3;
  transition: 0.3;
  position: relative;
  padding: 5px 5px;
  text-decoration: none;
}

.dark-nav__list li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: darkorange;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 859px) {
  .dark-nav__list li a::before {
    background-color: #f5f5f5;
  }
}

.dark-nav__list li a:hover::before {
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
}

@media (max-width: 859px) {
  .dark-nav__list {
    background: #093942;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .dark-nav__list.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.dark-nav__item {
  padding: 20px;
  background-color: #093942;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.dark-nav__item:hover {
  background: darkorange;
}

.dark-nav .mobile-nav {
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 3;
  display: none;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f5f5f5;
}

@media (max-width: 859px) {
  .dark-nav .mobile-nav {
    display: block;
  }
}

.dark-nav .mobile-nav .item {
  width: 32px;
  height: 2px;
  background-color: #093942;
  margin: 6px;
}

@media (max-width: 420px) {
  .dark-nav .mobile-nav .item {
    width: 24px;
  }
}

.light-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  height: 60px;
  -webkit-box-shadow: 10px 10px 20px #ebebeb;
          box-shadow: 10px 10px 20px #ebebeb;
}

.light-nav__logo {
  margin: 10px 0 0 30px;
}

.light-nav__logo img {
  width: 100px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .light-nav__logo img {
    width: 70px;
    margin-bottom: 0;
  }
}

.light-nav__list {
  margin-top: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light-nav__list li {
  margin: 0 20px;
  letter-spacing: 2px;
}

.light-nav__list li a {
  color: #093942;
  -webkit-transition: 0.3;
  transition: 0.3;
  position: relative;
  padding: 5px 5px;
  text-decoration: none;
}

@media (max-width: 859px) {
  .light-nav__list li a {
    color: #f5f5f5;
  }
}

.light-nav__list li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: darkorange;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 859px) {
  .light-nav__list li a::before {
    background-color: #f5f5f5;
  }
}

.light-nav__list li a:hover::before {
  -webkit-transform: translate(-50%, 0) scaleX(1);
          transform: translate(-50%, 0) scaleX(1);
}

@media (max-width: 859px) {
  .light-nav__list {
    background: #093942;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .light-nav__list.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.light-nav__item {
  padding: 20px;
  background-color: #093942;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.light-nav__item:hover {
  background: darkorange;
}

.light-nav .mobile-nav {
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 3;
  display: none;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f5f5f5;
}

@media (max-width: 859px) {
  .light-nav .mobile-nav {
    display: block;
    background-color: #093942;
  }
}

.light-nav .mobile-nav .item {
  width: 32px;
  height: 2px;
  background-color: #093942;
  margin: 6px;
}

@media (max-width: 859px) {
  .light-nav .mobile-nav .item {
    background-color: #f5f5f5;
  }
}

@media (max-width: 420px) {
  .light-nav .mobile-nav .item {
    width: 24px;
  }
}

.scroll-down {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1;
}

.scroll-down-text {
  color: #d8d8d8;
  font-weight: bold;
}

.scroll-down-bar {
  background: #d8d8d8;
  bottom: 0;
  display: inline-block;
  height: 65px;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 2px;
}

.scroll-down-bar::before {
  -webkit-animation: scrollDown 1.5s infinite;
          animation: scrollDown 1.5s infinite;
  background: #093942;
  content: '';
  display: inline-block;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 1;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, -32px, 0);
            transform: translate3d(0, -32px, 0);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translate3d(0, 65px, 0);
            transform: translate3d(0, 65px, 0);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate3d(0, -32px, 0);
            transform: translate3d(0, -32px, 0);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translate3d(0, 65px, 0);
            transform: translate3d(0, 65px, 0);
  }
}

.main {
  background-image: url(../../img/work/1.svg);
  background-position: center center;
  background-size: cover;
}

.news {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto 0 auto;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 859px) {
  .news__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 420px) {
  .news__item {
    width: 100%;
    margin: 20px 0;
  }
}

.news__item h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #093942;
}

@media (max-width: 859px) {
  .news__item h2 {
    margin-top: 10px;
  }
}

.news__item p {
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.news .frist,
.news .second {
  border-right: 1px #093942 solid;
}

@media (max-width: 859px) {
  .news .frist,
  .news .second {
    padding-bottom: 25px;
    border-right: none;
    border-bottom: 1px #093942 solid;
  }
}

.about {
  margin-top: 250px;
}

@media (max-width: 859px) {
  .about {
    margin-top: 100px;
  }
}

.about__wrap {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 859px) {
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 859px) {
  .about__img {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .about__img {
    width: 100%;
  }
}

.about__img img {
  width: 100%;
  vertical-align: middle;
}

.about__txt {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 859px) {
  .about__txt {
    width: 100%;
    margin-top: 20px;
  }
}

.about__txt h1 {
  margin-left: 25px;
}

.about__txt p {
  padding: 0 50px;
  line-height: 2rem;
}

@media (max-width: 859px) {
  .about__txt p {
    margin-top: 15px;
  }
}

.works {
  background-image: url(../../img/work/平面底圖.svg);
  background-position: center right;
  -o-object-fit: cover;
     object-fit: cover;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(10%, #093942), color-stop(90%, #093942), to(#e5e5e5));
  background: linear-gradient(to right, #ffffff 0%, #093942 10%, #093942 90%, #e5e5e5 100%);
  width: 80%;
  margin: 150px auto;
  padding: 50px 0;
}

@media (max-width: 420px) {
  .works {
    width: 100%;
  }
}

.works__wrap {
  text-align: center;
}

.works__wrap h1 {
  color: #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

.works__wrap ul {
  margin-top: 30px;
  color: #f5f5f5;
  line-height: 2rem;
}

@media (max-width: 420px) {
  .works__wrap ul {
    font-size: 0.8rem;
  }
}

.card {
  -webkit-box-shadow: 10px 10px 10px #eff8ff;
          box-shadow: 10px 10px 10px #eff8ff;
}

.card .card-body .btn {
  border: 1px solid #093942;
  color: #093942;
}

.card .card-body .btn:hover {
  background-color: #093942;
  color: #f5f5f5;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #093942;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 859px) {
  footer {
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer img {
  width: 150px;
}

footer .footer__content {
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 859px) {
  footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__content ul {
  margin-bottom: 0;
  padding-left: 0;
}

@media (max-width: 859px) {
  footer .footer__content ul {
    margin-top: 20px;
  }
}

footer .footer__content ul li {
  line-height: 1.8rem;
}

footer .footer__content .ul__second {
  margin-left: 200px;
}

@media (max-width: 859px) {
  footer .footer__content .ul__second {
    margin-left: 0;
  }
}

footer #btn {
  border: none;
  color: #f5f5f5;
  background: none;
}

footer #btn:hover {
  color: darkorange;
}

.container {
  width: 100%;
}

.container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__form h2 {
  margin: 10px auto;
  font-weight: bold;
}

.container__form .sub__btn {
  background-color: #093942;
  padding: 10px;
  color: #f5f5f5;
  border-radius: 10%;
  display: block;
  margin: 20px auto;
}

.container__main {
  width: 60%;
  margin: 100px auto;
}

@media (max-width: 859px) {
  .container__main {
    width: 80%;
  }
}

.container__main h2 {
  text-align: center;
  font-weight: bold;
}

.container__wrap {
  color: #f5f5f5;
  background-color: #093942;
}

.container__txt {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__num {
  width: 80%;
  margin: 10px 0px;
  border-right: none;
  text-align: center;
  border-bottom: 1px #f5f5f5 solid;
}

@media (max-width: 859px) {
  .container__num {
    width: 100%;
  }
}

.container h4 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

@media (max-width: 420px) {
  .container h4 {
    font-size: 0.6rem;
  }
}

.container .email {
  width: 50%;
  font-size: 1.3rem;
}

@media (max-width: 420px) {
  .container .email {
    width: 100%;
    font-size: 1rem;
  }
}

form {
  margin-bottom: 50px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group .container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5f5;
  background-color: #093942;
  width: 20%;
  margin-right: 20px;
}

@media (max-width: 859px) {
  .form-group .container__title {
    width: 40%;
  }
}

@media (max-width: 420px) {
  .form-group .container__title {
    width: 50%;
  }
}

.form-group .container__title label {
  margin-top: 25px;
  margin-left: 20px;
}

.form-group .container__input {
  width: 40%;
}

.form-group .container__input input,
.form-group .container__input textarea {
  margin-top: 15px;
}

.project__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__wrap h1 {
  padding-top: 40px;
  font-weight: bold;
  color: #093942;
  margin-bottom: 20px;
}

.project__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0px 30px 0px;
}

.project__item {
  margin: 20px 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.project__item img {
  width: 280px;
  height: 180px;
}

.project__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__txt p {
  font-weight: bold;
  margin: 0;
  color: #093942;
}

.project__txt a {
  color: #093942;
  text-decoration: none;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}

.project__txt a:hover {
  color: darkorange;
}

.layoutMask {
  display: none;
}

.layoutMask.active {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.layoutMask.active svg {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 859px) {
  .layoutMask.active svg {
    top: 30px;
  }
}

.carousel-all {
  width: 60% !important;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

@media (max-width: 859px) {
  .carousel-all {
    width: 100% !important;
  }
}

.carousel-all.active {
  display: none;
}

.btn-outline-primary {
  border-color: #093942;
}

.btn-outline-primary.active {
  border-color: #093942;
}

.btn-outline-primary.active:hover {
  border-color: #093942;
}

.sortBtn {
  background-color: #f5f5f5;
  color: #093942;
}

.sortBtn:hover {
  background-color: darkorange;
  border-color: #093942;
  color: #f5f5f5;
}

.sortBtn.active {
  background-color: #093942;
  color: #f5f5f5;
}
/*# sourceMappingURL=style.css.map */