* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;

}

$base-color: #093942;
$base-light2: #ffffff;
$base-light: #fcfcfc;
$base-other: darkorange;

@mixin pad {
	@media(max-width:859px) {
		@content;
	}
}

@mixin mobile {
	@media(max-width:420px) {
		@content;
	}
}


%title-setting {
	width: 100px;
	display: inline;
	font-size: 2rem;
	border-bottom: 4px $base-color solid;
}

%more-setting {
	color: $base-color;
	transition: all 400ms ease-in;
	text-align: right;
	padding-right: 15px;
	text-decoration: none;

	&:hover {
		color: $base-other;
	}
}
