.about {
	margin-top: 250px;

	@include pad {
		margin-top: 100px;
	}

	&__wrap {
		width: 80%;
		display: flex;
		margin: 0 auto;

		@include pad {
			flex-direction: column;
		}
	}

	&__img {
		width: 500px;
		margin: 0 auto;

		@include pad {
			width: 80%;
		}

		@include mobile {
			width: 100%;
		}

		img {
			width: 100%;
			vertical-align: middle;
		}

	}

	&__txt {
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include pad {
			width: 100%;
			margin-top: 20px;
		}

		h1 {
			margin-left: 25px;
			@extend %title-setting;
		}

		p {
			padding: 0 50px;
			line-height: 2rem;

			@include pad {
				margin-top: 15px;
				padding: 0 25px;
			}

			@include mobile {
				padding: 0;
			}
		}

		a {
			@extend %more-setting;
		}
	}
}
