.card {
	box-shadow: 10px 10px 10px rgb(239, 248, 255);

	.card-body {
		.btn {
			border: 1px solid $base-color;
			color: $base-color;

			&:hover {
				background-color: $base-color;
				color: $base-light;
			}
		}

	}
}
