header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	animation: identifier 20s ease-in-out infinite;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	@include pad {
		background-position: right;
	}

	@keyframes identifier {
		0% {
			background-image: url(../img/header/1.jpg);
		}

		50% {
			background-image: url(../img/header/2.jpg);
		}

		100% {
			background-image: url(../img/header/3.jpg);
		}


	}

	.title {
		color: $base-light;

		margin-left: 80px;

		h1 {
			font-size: 3rem;
		}

		@include mobile {
			margin-bottom: 50px;
			margin-left: 30px;

			h1 {
				font-size: 2rem;
			}
		}
	}

}

.custom-shape {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	svg {
		position: relative;
		display: block;
		width: calc(130% + 1.3px);
		height: 69px;
	}

	.shape-fill {
		fill: #FFFFFF;
	}
}
