header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-image: url(../img/header/2.jpg);
	background-position: center center;
	background-size: cover;

	@include pad {
		background-position: right;
	}

	.title {
		color: $base-light;
		font-size: 1.6rem;
		padding-bottom: 300px;
		padding-left: 200px;

		@include mobile {}
	}

}

.custom-shape {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	svg {
		position: relative;
		display: block;
		width: calc(130% + 1.3px);
		height: 69px;
	}

	.shape-fill {
		fill: #FFFFFF;
	}
}
