.news {
	&__main {
		position: relative;
		background-color: $base-light;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__title {
		background-image: url(../../img/about/bg.png);
		background-position: center;
		object-fit: cover;
		height: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-shadow: 10px 10px 20px #ebebeb;

		h1 {
			font-weight: bold;
			text-align: center;
		}
	}


	&__list {

		ul {
			margin: 50px auto;
			width: 50%;
			display: flex;
			flex-direction: column;
		}

		li {
			display: inline-flex;
			border-bottom: 1px solid #1b1b1b;
			justify-content: space-between;
			align-items: center;


			padding: 15px 0px;

			&:first-child {
				border-top: 1px solid #1b1b1b;
			}

			h3,
			p {
				margin-bottom: 0;
			}

			h3 {
				font-size: 1rem;
				font-weight: bold;
			}

			p {
				margin: 10px 50px;
			}

			a {
				text-decoration: none;
				color: $base-color;
				transition: all 400ms;

				&:hover {
					color: $base-other;
				}
			}
		}
	}

	&__box {
		position: absolute;
		top: 20%;
		left: 20%;
		width: 60%;
		min-height: 50vh;
		padding: 50px 60px;
		background-color: $base-light2;
		box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		@include pad {
			width: 80%;
			left: 10%;
		}

		h3 {
			font-size: 1.2rem;
		}

		h2 {
			margin: 20px 0;
			font-size: 1.5rem;
		}

		a {
			display: block;
			text-align: center;
			text-decoration: none;
			color: $base-color;
			transition: all 400ms ease;

			&:hover {
				color: $base-other;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		width: 560px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__wrap {
		min-height: 600px;

		@include mobile {
			min-height: 80vh;
		}
	}
}
